@media screen and (min-width: 1200px) {
  #card {
    min-width: 440px;
    width: 100%;
  }
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/Cover.png");
  background-color: #aa06a1;
}

img {
  width: 70px;
}

button {
  background-color: transparent;
  border: none;
}

.button {
  display: grid;
  place-items: center;
  margin: 80px;
}

.text {
  margin-bottom: 80px;
  font-size: 40px;
  color: white;
}
